# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.db
.venv/

# Env
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Tauri/Rust build artifacts
frontend/src-tauri/target/
backend/dist/
backend/build/
*.spec

karyana_track.db.template_backup